.grace-selection{
	margin-bottom: 1em;
	position: relative;
	.selection-result{
		border: 1px solid #ddd;
		padding: 7px 10px;
		color: #555;
		height: 36px;
		cursor: pointer;
	}
	.selection-actions{
		background: #f8f8f8;
	}
	.selection-options{
		background: #fff;
		position: absolute;
		top: 36px;
		left: 0;
		z-index: 997;
		border: 1px solid #ddd;
		border-top: none;
		.selection-actions{
			padding: 10px;
		}
		.selection-table{
			max-height: 238px;
			overflow: auto;
			tr{
				cursor: pointer;
				&:hover{
					background: #4078c0;
					color: #fff;
				}
			}
		}
	}
}
