.histories{
	margin-top: 1em;
	ul{
		li{
			border-left: 3px solid #ddd;
			border-bottom: 1px solid #eee;
			padding: 50px 0 50px 100px;
			margin-left: 35px;
			line-height: 28px;
			position: relative;
			color: #999;
			.blue{
				color: #65baea;
			}
			.history-info{
				position: absolute;
				text-align: center;
				left: -38px;
				top: 25%;
			}
			.time{
				background: #f2f2f2;
				color: #ccc;
				padding: 4px 6px;
				font-size: 12px;
				line-height: 12px;
				display: block;
				margin: 1em auto 0;
			}
			.operation{
				width: 35px;
				height: 35px;
				line-height: 35px;
				font-size: 16px;
				color: #fff;
				display: block;
				margin: 0 auto;
				border-radius: 35px;
				&.create{
					background: #ec8777;
				}
				&.update{
					background: #65baea;
				}
			}
		}
	}
}
